/* *********************** */
/* BUTTONS */
/* *********************** */
.button {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    margin: 1px auto;
  }

.buttonPrimary {
    border-color: #204198;
    background-color: #204198;
}

.buttonSecondary {
    background-color: #858181;
    border-color: #858181;
}
  
  .btn:hover {
    color: #204198;
    background-color: #FFFFFF;
  }

/* *********************** */
/* FORMS */
/* *********************** */

input {
  width: 100%;
  margin-bottom: 10px;
}

.modalHeader {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    font-weight: 700;
}