body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto 1fr;
}

.content {
  background-color: var(--backgroundwhite);
  /* width of the content */
  width: 100%;
  max-width: 2560px;
  min-height: 100vh; /* to fix the issue with stuttering page */
  overflow: hidden;
}


/* *********************** */
/* ON MOBILE */
/* *********************** */
@media (max-width: 767px) {
  .content {
    /* width of the content */
    width: 100%;
    max-width: 767px;
  }
}