.main {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: #ebe4e4;
  /* width of the content */
  width: 100%;
  max-width: 2560px;
}


/* *********************** */
/* ON MOBILE */
/* *********************** */
@media (max-width: 767px) {
  .content {
    /* width of the content */
    width: 100%;
    max-width: 767px;
  }
}