.mainNavbar {
    background-color: var(--darkblue);
}

.mainNavbar-user {
    font-family: "Open Sans", sans-serif;
    color: var(--white);
}

.titleAim {
    float: right;
    margin: 14px 0 auto 10px;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
}

.mainNavbarContainer {
    /* Ensure the navbar brand item is aligned to the left  */
    margin-left: 5px;
    margin-right: 30px;
    max-width: 2560px;
  }

  .custom-collapse {
    color: var(--white);
  }

.navbar-text a:hover {
    background-color: transparent;
    color: var(--black);
    text-decoration: underline;
}