/* *********************** */
/* MAIN SIDEBAR */
/* *********************** */
.sidebar {
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    transition: width 0.4s ease; /* Add a transition for a smoother effect */
}

.list-group-item {
    margin: 7px 0 0 -2px;
    margin-top:7px;
    padding-bottom: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

.sidebar-icon {
    margin-right: 5px;
}

/* *********************** */
/* TOGGLE SIDEBAR */
/* *********************** */
.sidebar.closed {
    width: 50px;
}

.sidebar.open {
    width: 250px;
}

/* *********************** */
/* ON DESKTOP */
/* *********************** */
@media (min-width:1024px) {
    .sidebar {
        height: 87.5vh;
    }
}

@media (min-width: 1680px) {
    .sidebar {
        height: 92vh; 
    }
}

/* *********************** */
/* ON MOBILE */
/* *********************** */
@media (max-width: 767px) {
    .list-group-item {
        background-color: var(--darkblue);
        padding: 0;
        margin: 0;
        width: 250px;
        border: none;
        color: var(--white);
    }

    .tetapan-kriteria-group:hover {
        color: var(--black);
        text-decoration: underline;
    }

    .dropdown-arrow {
        float: right;
        margin-top: -34px;
        margin-right: 90px;
    }

    .nav-link {
        margin: 15px 15px 15px 5px;
        font-size: 12px;
    }
}
