h6 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.user-icon-container {
  color: var(--white);
}

.userMenu {
  width: 180px;
  font-size: 12px;
  padding: 0 auto;
  margin: 0 auto;
}

.userMenuContent {
  color: var(--lightgray);
  padding: 0 auto;
  margin-bottom: 0;
  height: 20px;
}

.btnUpdateProfile {
  width:150px;
  height:30px;
  margin-left: 15px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
}
.btnUpdateProfile:hover {
  background-color: var(--darkblue);
  color: var(--white);
}
  