* {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

/* *********************** */
/* ****** VARIABLES ****** */
/* *********************** */

#root {
  --white: #FFFFFF;
  --black: #000000;
  --darkblue: #204198;
  --darkgray: #D9D9D9;
  --lightgray: #858181;
  --backgroundwhite: #F1F3F4;
  --allowgreen: #008000;
  --rederror: #ff9494;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
}

