* {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

/* *********************** */
/* ****** VARIABLES ****** */
/* *********************** */

#root {
  --white: #FFFFFF;
  --black: #000000;
  --darkblue: #204198;
  --darkgray: #D9D9D9;
  --lightgray: #858181;
  --backgroundwhite: #F1F3F4;
  --allowgreen: #008000;
  --rederror: #ff9494;
  --delete_red: #FF0000;
  --edit_yellow: #FFAE42;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
}

/* ************************** */
/* ****** PAGE HEADER ****** */
/* *********************** */

hr {
  margin-top: 0;
}

.page-title {
  color: var(--black);
  text-align: left;
  margin: 10px auto auto 10px;
}
  
.page-content {
margin: 10px 10px auto 10px;
}

/* ***************************** */
/* ****** IMPORT & EXPORT ****** */
/* ***************************** */

.functional-btns-container {
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* *********************** */
/* ****** BUTTONS ****** */
/* *********************** */

.button {
  font-size: 1.15em;
  font-weight: 700;
  margin: 1px auto;
}

.btn-primary {
  border-color: #204198;
  background-color: #204198;
}

.btn-secondary {
  background-color: #858181;
  border-color: #858181;
  margin-right: 2px;
}

.btn:hover {
  color: #204198;
  background-color: #FFFFFF;
}

/***************************************/
/* ***** ERROR HANDLING ************** */
/**************************************/

.error-message {
  font-size: .75rem;
  color: #ff9494;
  margin-bottom: 0;
}