@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

* {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
}

/* *********************** */
/* ****** VARIABLES ****** */
/* *********************** */

#root {
  --NEUTRALWHITE: #FFFFFF;
  --NEUTRALGRAY: #A3A3A3;
  --BGWHITE: #F1F3F4;
  --PRIMARY: #00674F;
  --SECONDARY: #3DBE98;
  --TERTIARY: #A3A3A3;
  --PROMPTERROR: #FF6F61;
  --PROMPTEDIT: #FFC857;
  
  /* --NEUTRALWHITE: #FFFFFF; */
  /* --PRIMARY: #00674F; */
  /* --secondary: */
  /* --PRIMARY: #204198; */
  /* --NEUTRALGRAY: #D9D9D9; */
  /* --NEUTRALGRAY: #858181; */
  /* --BGWHITE: #F1F3F4; */
  /* --PRIMARY: #008000; */
  /* --rederror: #ff9494; */
  /* --PROMPTERROR: #FF0000; */
  /* --PROMPTEDIT: #FFAE42; */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  .button {
    font-size: 1.15em;
    font-weight: 700;
    margin: 1px auto;
  }
  
  .btn:hover {
    color: var(--SECONDARY);
    border-color: var(--SECONDARY);
    background-color: #FFFFFF;
  }
  
}

a {
  cursor: pointer;
}

/* ************************** */
/* ****** PAGE HEADER ****** */
/* *********************** */

hr {
  margin-top: 0;
}

.page-title {
  color: var(--PRIMARY);
  text-align: left;
  margin: 10px auto auto 10px;
}

.page-title h3 {
  margin-left: 12px;
}
  
.page-content {
margin: 10px 10px auto 10px;
}

/* ***************************** */
/* ****** IMPORT & EXPORT ****** */
/* ***************************** */

.functional-btns-container {
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* *********************** */
/* ****** BUTTONS ****** */
/* *********************** */

.btn-primary {
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
}

.btn-secondary {
  background-color: var(--SECONDARY);
  border-color: var(--SECONDARY);
  margin-right: 2px;
}

/***************************************/
/* ***** ERROR HANDLING ************** */
/**************************************/

.error-message {
  font-size: .75rem;
  color: #ff9494;
  margin-bottom: 0;
}

/* ****************************************** */
/* *************** PAGINATION  ************* */
/* **************************************** */

.pagination{
  margin-top: 15px;
}