/********************************************************/
/* ************ IMPORT & EXPORT BUTTONS  ************** */
/********************************************************/

.functional-btn {
    font-weight: 700;
    border-color: var(--NEUTRALGRAY);
    background-color: var(--NEUTRALGRAY);
    margin-left: 4px;
}