/********************************************************/
/********************** INDEX **************************/
/*******************************************************/

.profile-content {
    width: 80%;
    margin: 40px auto;
}

.user-details-container {
    text-align: center;
}

.profile-user-email {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
}

/****************************************************/
/********************* TABS ***********************/
/**************************************************/

.tabs-container {
    font-size: 14px;
    margin-top: 20px;
}

.set-password-btn {
    float: right;
    background-color: var(--darkblue);
    margin: 10px 0;
}

@media (max-width: 767px) {
    .set-password-btn {
        width: 100%;
    }
}