/********************************************************/
/********************** INDEX **************************/
/*******************************************************/

.page-content col {
  padding: 0;
}

/*****************************************************/
/********************** INDEX ************************/
/*******************SEARCH BAR ***********************/
/*****************************************************/

.laporan-search-container {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: var(--darkgray);
}

.laporan-filter-header {
  margin-top: 10px;
  font-weight: bold;
  padding-bottom: 2px;
}

.laporan-filter-sub-header {
  font-size: 14px;
  font-weight: 700;
}

.sc-filter-row-end {
  padding-bottom: 15px;
}

.laporan-filter-btn-container {
  margin-top: 10px;
  float: right;
}

.laporan-filter-btn {
  font-weight: 700;
  border-color: var(--darkblue);
  background-color: var(--darkblue);
  margin-bottom: 5px;
}

.laporan-filter-result {
    margin-top: 40px;
  }

.alert-display {
  margin-top: 5px;
}

.dates-container {
  background-color: var(--white);
  margin: 10px auto;
  padding: 10px;
}

.dates-container p {
  font-weight: 500;
  margin-bottom: 0;
}

 /* to remove unnecessary left padding on each input field */
@media (min-width: 767px) {
  .remove-padding {
    padding-left: 0; 
  }
}

/************************************************************/
/********************** INDEX *******************************/
/*******************SEARCH BAR MOBILE ***********************/
/************************************************************/

@media (max-width: 767px) {
  .laporan-filter-btn {
    margin-bottom: 2px;
  }

  .margin-for-mobile {
    margin-top: 5px;
  }

  .col-md-3 {
    padding-top: 0 !important;
  }
}
  