/*****************************************************/
/*******************SEARCH BAR ***********************/
/*****************************************************/

.report-search-container {
    border-radius: 10px;
    padding-top: 10px;
    background-color: #cccccc;
  }

.report-search-btn {
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
  margin-bottom: 5px;
}

.alert-display {
  margin-top: 5px;
}

@media (min-width: 767px) {
  .remove-padding {
    padding-left: 0;
  }
}

/********************************************************/
/********************** INDEX ***************************/
/*******************SEARCH RESULT ***********************/
/********************************************************/
.student-info-container {
  margin-top: 30px;
  
}

.student-info {
  margin: 0 auto;
  background-color: var(--NEUTRALWHITE);
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  text-transform: uppercase;
}

/********************************************************/
/********************** INDEX ***************************/
/*******************SEARCH RESULT ***********************/
/***************NON-COMPLIANCE TABLE ********************/
/********************************************************/

.individual-report-table {
  width: 100%;
  margin-top: 4%;
}

.individual-report-table-title {
  text-align: left;
}

.to-page-add-report-btn {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    border-color: var(--PRIMARY);
    background-color: var(--PRIMARY);
    margin-bottom: 10px;
}

.edit-report-btn {
  font-size: 0.75em;
  font-weight: 700;
  border-color: var(--PROMPTEDIT);
  background-color: var(--PROMPTEDIT);
  margin-bottom: 10px;
  margin-right: 5px;
}

/***********************************************************/
/************** ADD NON-COMPLIANCE PAGE ****************/
/************** EDIT NON-COMPLIANCE PAGE ****************/
/*******************************************************/

.add-report-form-container, .edit-report-form-container {
  background-color: var(--NEUTRALWHITE);
  width: 98%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  padding: 20px;
}
 
.detailed-information-container, 
.detailed-report-container {
  margin-top: 30px;
}

.radio-add-report, .radio-edit-report {
  margin: 10px auto;
  font-size: 14px;
}

.detailed-report-container .row {
  margin-top: 10px;
}

.add-report-actions, .edit-report-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-report-btn {
  font-weight: 700;
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
}

.edit-report-btn {
  font-weight: 700;
  border-color: var(--PROMPTEDIT);
  background-color: var(--PROMPTEDIT);
}

.cancel-btn {
  font-weight: 700;
  border-color: var(--NEUTRALGRAY);
  background-color: var(--NEUTRALGRAY);
  margin-left: 4px;
}
