/* ********************************** */
/* *********** PAGE LAYOUT ********* */
/* ********************************* */

.main {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto 1fr;
}
  
.content {
  background-color: var(--backgroundwhite);
  width: 100%;
  min-height: 100vh; /* to fix the issue with stuttering page */
  overflow: hidden;
}

/* ********************************** */
/* *********** NAVBAR ************** */
/* ********************************* */

.main-navbar {
    background-color: var(--darkblue);
}

.navbar-user-icon {
    color: var(--white);
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.navbar-title {
    float: right;
    margin: 10px 0 auto 10px;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
}

/* ************************************* */
/* *********** NAVBAR ****************** */
/* *********** FOR MOBILE ************** */
/* ************************************* */

  /* for mobile navbar collapse */
.custom-collapse {
  color: var(--white);
}

.navbar-user-icon:hover {
    text-decoration: underline;
}

.navbar-text a {
    background-color: transparent;
    color: var(--white);
}

.navbar-text a:hover {
    background-color: transparent;
    color: var(--white);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar-title {
        margin-top: 12px;
        font-size: 12px;
    }
}

/* ******************************************* */
/* *********** NAVBAR USER ICON ************** */
/* ******************************************* */

.user-icon-container {
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mini-menu h6 {
    font-size: 16px;
    margin-bottom: 0;
}
  
.mini-menu {
  width: 200px;
  font-size: 12px;
}
  
.mini-menu-content {
  color: var(--lightgray);
  padding: 0 auto;
  margin-bottom: 0;
  height: 20px;
}
  
.btn-update-profile {
  width:175px;
  height:30px;
  margin-left: 15px;
  color: var(--white);
  background-color: var(--darkblue);
  border: 1px solid var(--darkblue);
  border-radius: 5px;
}

.btn-update-profile:hover {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}


/* ******************************************* */
/* *********** NAVBAR USER ICON ************** */
/* *********** MINI MENU DISPLAY ************** */
/* ******************************************* */

@media (min-width: 1280px) {
.dropdown-menu[data-bs-popper] {
    top: 75%;
    left: 83%;
    }
}

@media (min-width: 1920px) {
  .dropdown-menu[data-bs-popper] {
      top: 75%;
      left: 89%;
  }
}

/* ******************************************* */
/* *********** NAVBAR USER ICON ************** */
/* ******* MOBILE RESPONSIVE BEHAVIOUR ******* */
/* ******************************************* */

@media (max-width: 768px) {
  .navbar-user {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 7px;
    font-weight: 400;
  }

  .navbar-user:hover {
    text-decoration: underline;
  }

  .navbar-user-icon {
    width: 20px;
    margin-right: 3px;
    margin-bottom: 10px;
  }
}

/* ******************************************* */
/* **************** SIDE BAR ***************** */
/* ******************************************* */

.sidebar {
    width: 200px;
    font-size: 14px;
    transition: width 0.4s ease;
}

.list-group-item {
    margin: 7px 0 0 -2px;
    margin-top:7px;
    padding-bottom: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* ******************************************* */
/* **************** SIDEBAR ****************** */
/* **************TOGGLE SIDEBAR ************** */
/* ******************************************* */

.sidebar.closed {
    width: 50px;
}

.sidebar.open {
    width: 250px;
}

/* ******************************************* */
/* **************** SIDE BAR ***************** */
/* **************HAMBURGER NAVBAR************* */
/* ******************************************* */

@media (max-width: 767px) {
    .list-group-item {
        background-color: var(--darkblue);
        padding: 0;
        margin: 0;
        width: 250px;
        border: none;
        color: var(--white);
    }

    .tetapan-kriteria-group:hover {
        color: var(--black);
        text-decoration: underline;
    }

    .dropdown-arrow {
        float: right;
        margin-top: -34px;
        margin-right: 90px;
    }

    .nav-link {
        margin: 15px 15px 15px 5px;
        font-size: 12px;
    }
}

/* ****************************************** */
/* *************** SUB-SIDEBAR ************* */
/* ***************************************** */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-sidebar {
  position: absolute;
  top: -8px;
  left: 100%;
  width: 220px;
  background-color: #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.sub-nav-link:hover {
  background-color: #f0f0f0;
  color: #000;
}

@media (max-width: 767px) {
.sub-sidebar {
  background-color: var(--darkblue);
  border-left: 1px solid var(--darkblue); 
}
}

.mobile-nav-links .sub-nav-link {
background-color: none;
color: #000;
font-size: 12px;
}

.mobile-nav-links .sub-nav-link:hover {
color: #000;
}


/* ****************************************** */
/* *************** PAGINATION  ************* */
/* **************************************** */

.active>.page-link, .page-link.active {
  background-color: var(--darkblue);
  border-color: var(--darkblue);
  z-index: 0;
}

.page-link {
  color: var(--darkblue);
}

.pagination {
  margin: 10px auto;
}