/*****************************************************/
/*******************SEARCH BAR ***********************/
/*****************************************************/

.repot-search-container {
    border-radius: 10px;
    padding-top: 10px;
    background-color: var(--darkgray);
  }

.repot-search-btn {
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  border-color: var(--darkblue);
  background-color: var(--darkblue);
  margin-bottom: 5px;
}

.alert-display {
  margin-top: 5px;
}

@media (min-width: 767px) {
  .remove-padding {
    padding-left: 0;
  }
}


/********************************************************/
/********************** INDEX ***************************/
/*******************SEARCH RESULT ***********************/
/********************************************************/
.kakitangan-info-container {
  margin-top: 30px;
  
}

.kakitangan-info {
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  text-transform: uppercase;
}

/********************************************************/
/********************** INDEX ***************************/
/*******************SEARCH RESULT ***********************/
/***************TABLE KETIDAKPATUHAN ********************/
/********************************************************/

.repot-table {
  width: 100%;
  margin-top: 4%;
}

.repot-table-title {
  text-align: left;
}

.to-page-tambah-ketidakpatuhan-btn {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    border-color: var(--darkblue);
    background-color: var(--darkblue);
    margin-bottom: 10px;
}

.edit-ketidakpatuhan-btn {
  font-size: 0.75em;
  font-weight: 700;
  border-color: var(--edit_yellow);
  background-color: var(--edit_yellow);
  margin-bottom: 10px;
  margin-right: 5px;
}

/***********************************************************/
/************** TAMBAH KETIDAKPATUHAN PAGE ****************/
/************** EDIT KETIDAKPATUHAN PAGE ****************/
/*******************************************************/

.tambah-ketidakpatuhan-form-container, .edit-ketidakpatuhan-form-container {
  background-color: var(--white);
  width: 98%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  padding: 20px;
}
 
.maklumat-terperinci-container, 
.audit-terperinci-container {
  margin-top: 30px;
}

.radio-tambah-ketidakpatuhan, .radio-edit-ketidakpatuhan {
  margin: 10px auto;
  font-size: 14px;
}

.audit-terperinci-container .row {
  margin-top: 10px;
}

.tambah-ketidakpatuhan-actions, .edit-ketidakpatuhan-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.tambah-ketidakpatuhan-btn {
  font-weight: 700;
  border-color: var(--darkblue);
  background-color: var(--darkblue);
}

.edit-ketidakpatuhan-btn {
  font-weight: 700;
  border-color: var(--edit_yellow);
  background-color: var(--edit_yellow);
}

.cancel-btn {
  font-weight: 700;
  border-color: var(--lightgray);
  background-color: var(--lightgray);
  margin-left: 4px;
}


      