/* ********************************** */
/* *******FOR PAGE'S BACKGROUND****** */
/* ********************************** */

.pg-container {
  background-image: url("../../assets/images/auditee-bg-image.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ********************************** */
/* ********** FORMS BODY ************ */
/* ********************************** */

.form-header {
    align-items: center;
    text-align: left;
    color: var(--NEUTRALWHITE);
}

.form-header h1 {
  font-weight: 700;
}

.form-header p {
  font-size: smaller;
  margin-top: -5px;
}

.span-form-header {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-size: x-large;
  font-style: normal;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 12px;
  color: var(--NEUTRALWHITE);
}

.form-container h1 {
  font-size: 1.75em;
}

.form-label {
  margin-top:2px;
}

/* ********************************** */
/* ********** FORMS BODY ********** */
/* ********************************** */

.signin-container {
  width: 350px;
  padding: 30px 40px 10px; 
}

.signup-form-container {
  padding: 30px 40px 10px; 
  max-width: 400px;
  margin: 0 auto; 
}

.aim-logo {
  height: 70px;
  padding-bottom: 10px;
}

.sign-up-show-password {
  background-color: #fff;
}

/* ********************************** */
/* ********** FORMS FOOTER ********** */
/* ********************************** */

.auth-link {
  color: var(--NEUTRALWHITE);
}

.auth-btn {
  width: 100%;
  font-size: 1.15em;
  font-weight: 700;
  margin-top: 5px;
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
}

.auth-btn:hover {
  color: var(--PRIMARY);
  background-color: var(--NEUTRALWHITE);
}

.create-acc {
  margin-top: 12px;
  text-align: center;
  color: var(--NEUTRALWHITE);
}

.forgot-password {
  font-style: italic;
  text-align: right;
  padding-bottom: 5px;
}