/*****************************/
/******** SEARCH BAR ********/
/***************************/ 

.search-bar-section {
  background-color: var(--NEUTRALGRAY);
  width: 100%;
  border-radius: 10px;
}
    
.search-bar {
  padding: 15px 5px;
  width:100%;
}
  
.col-md-1, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-6 {
  padding-left: 0%;
}
  
.with-padding-left {
  padding-left: 1%;
}
  
.search-bar-btn {
  width: 100%;
  font-size: 1.15em;
  font-weight: 700;
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
  margin-bottom: 10px;
}
  
@media (max-width: 767px) {
  .col-md-1, 
  .col-md-2,  
  .col-md-3, 
  .col-md-4, 
  .col-md-6 {
    padding-left: 2%;
    padding-top: 2%;
  }
  
  .with-padding-left {
    padding-top: 0%;
  }
}
  
.alert-display {
  margin-top: 5px;
}

/**************************************/
/******** CREATE NEW & EDIT  **********/
/*************************************/  
.create-new-btn {
  width: 100%;
  font-size: 1.2em;
  font-weight: 700;
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
  margin-bottom: 10px;
}

/* MODALS USE var(--PRIMARY) */
.create-new-modal-btn, .edit-modal-btn {
  border-color: #00674F;
  background-color: #00674F;
}

.edit-tetapan-btn {
  font-size: 0.75em;
  font-weight: 700;
  border-color: var(--PROMPTEDIT);
  background-color: var(--PROMPTEDIT);
  margin-bottom: 10px;
  margin-right: 5px;
}
  
/********************************/
/******** TABLE SECTION ********/
/******************************/

.table-section {
  width: 100%;
  margin-top: 4%;
}
  
.table-title {
  text-align: left;
}

.delete-btn {
  font-size: 0.75em;
  font-weight: 700;
  border-color: var(--PROMPTERROR);
  background-color: var(--PROMPTERROR);
  margin-bottom: 10px;
}