/********************************************************/
/*******************GENERAL MODAL***********************/
/*******************************************************/

.btn-primary {
    border-color: #204198;
    background-color: #204198;
}
  
.btn-secondary {
  background-color: #858181;
  border-color: #858181;
  margin-right: 2px;
}
  
.btn:hover {
  color: #204198;
  background-color: #FFFFFF;
}

/*****************************************************/
/************* FORGOT PASSWORD MODAL ****************/
/****************************************************/

.forgot-password-input {
  width: 100%;
  margin-bottom: 10px;
}
    
.forgot-password-btn {
  float: right;
  font-size: 1.15em;
  font-weight: 700;
}