/********************************************************/
/********************** INDEX **************************/
/*******************************************************/

.page-content col {
  padding: 0;
}

/*****************************************************/
/********************** INDEX ************************/
/*******************SEARCH BAR ***********************/
/*****************************************************/

.laporan-kumulatif-search-container {
  border-radius: 10px;
  padding: 20px 15px 25px 15px;
  /* padding-top: 10px;
  padding-bottom: 15px; */
  margin-bottom: 15px;
  background-color: var(--NEUTRALGRAY);
}

.laporan-kumulatif-filter-header {
  margin-top: 10px;
  font-weight: bold;
  padding-bottom: 2px;
}

/* .laporan-kumulatif-filter-sub-header {
  font-size: 14px;
  font-weight: 700;
} */

/* .sc-filter-row-end {
  padding-bottom: 15px;
} */

/* .laporan-kumulatif-filter-btn-container {
  margin-top: 10px;
  float: right;
} */

/* .laporan-kumulatif-filter-btn {
  font-weight: 700;
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
  margin-bottom: 5px;
} */

/* .laporan-kumulatif-filter-result {
    margin-top: 40px;
  } */

/* .alert-display {
  margin-top: 5px;
} */

.dates-container {
  background-color: var(--NEUTRALWHITE);
  margin: 10px auto;
  padding: 10px;
}

.dates-container p {
  font-weight: 500;
  margin-bottom: 0;
}

 /* to remove unnecessary left padding on each input field */
@media (min-width: 767px) {
  .remove-padding {
    padding-left: 0; 
  }
}

/************************************************************/
/********************** INDEX *******************************/
/**********************SHOW COMPONENT ***********************/
/************************************************************/
.wide-column {
  min-width: 150px;
}

.filter-bar {
  width: 100%;
  height: 32px;
  margin: 10px auto;
}

/************************************************************/
/********************** INDEX *******************************/
/*******************SEARCH BAR MOBILE ***********************/
/************************************************************/

@media (max-width: 767px) {
  /* .laporan-kumulatif-filter-btn {
    margin-bottom: 2px;
  } */

  /* .margin-for-mobile {
    margin-top: 5px;
  } */

  .col-md-3 {
    padding-top: 0 !important;
  }
}
  