/********************************************************/
/********************** INDEX **************************/
/*******************************************************/

.delete-btn {
    font-size: 0.75em;
    font-weight: 700;
    border-color: var(--PROMPTERROR);
    background-color: var(--PROMPTERROR);
    margin-bottom: 10px;
  }

.allow-btn {
  font-size: 0.75em;
  font-weight: 700;
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
  margin-right: 5px;
  margin-bottom: 10px;
}

.btn:disabled {
  background-color: #929292;
  border-color: #929292;
  cursor: not-allowed;
}

.user-level-btn {
  border-color: var(--PRIMARY);
  background-color: var(--PRIMARY);
  font-size: 0.75em;
  font-weight: 700;
}

.user-level-item {
  font-size: 1em;
}