/********************************************************/
/********************** INDEX **************************/
/*******************************************************/

.page-content col {
  padding: 0;
}

/*****************************************************/
/********************** INDEX ************************/
/*******************SEARCH BAR ***********************/
/*****************************************************/

.records-search-container {
  border-radius: 10px;
  padding: 20px 15px 25px 15px;
  margin-bottom: 15px;
  background-color: #cccccc;
}

.records-filter-header {
  margin-top: 10px;
  font-weight: bold;
  padding-bottom: 2px;
}

.dates-container {
  background-color: var(--NEUTRALWHITE);
  margin: 10px auto;
  padding: 10px;
}

.dates-container p {
  font-weight: 500;
  margin-bottom: 0;
}

 /* to remove unnecessary left padding on each input field */
@media (min-width: 767px) {
  .remove-padding {
    padding-left: 0; 
  }
}

/************************************************************/
/********************** INDEX *******************************/
/**********************SHOW COMPONENT ***********************/
/************************************************************/
.wide-column {
  min-width: 150px;
}

.filter-bar {
  width: 100%;
  height: 32px;
  margin: 10px auto;
}

/************************************************************/
/********************** INDEX *******************************/
/*******************SEARCH BAR MOBILE ***********************/
/************************************************************/

@media (max-width: 767px) {
  .col-md-3 {
    padding-top: 0 !important;
  }
}
  