#root {
  max-width: 1280px;
  margin: 0 auto;
}

h1, h3, p {
    text-align: center;
}

body {
  background-image: url(../../assets/background.jpg);
}

.btn {
  width: 100%;
  font-size: 1.15em;
  font-weight: 700;
  border-color: var(--darkblue);
  background-color: var(--darkblue);
}

.btn:hover {
  color: var(--darkblue);
  background-color: var(--white);
}

/* *********************** */
/* CLASSES */
/* *********************** */
.FormContainer {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.35);
}

.SignInFormContainer {
  padding: 50px 50px 30px; 
}

.SignUpFormContainer {
  padding: 50px 25px 30px; 
}

.FormContainer h1 {
  font-weight: 700;
  font-size: 1.75em;
}

.FormContainer h3 {
  font-weight: 500;
}

.FormContainer a {
  color: var(--white);
}

.forgotPasswordCta {
  font-style: italic;
  text-align: right;
  padding-bottom: 10px;
}

.createAccountCta, .signInCta {
  margin-top: 12px;
}