/* *********************** */
/* VARIABLES */
/* *********************** */

#root {
  /* BG IMAGE FILL THE ENTIRE VIEWPORT */
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.formHeader {
    align-items: center;
    text-align: center;
    color: var(--white);
}

.allAuthLink {
  color: var(--white);
}

.authButton {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  border-color: var(--darkblue);
  background-color: var(--darkblue);
}

.authButton:hover {
  color: var(--darkblue);
  background-color: var(--white);
}


/* *********************** */
/* CLASSES */
/* *********************** */
.PageContainer {
  max-width: 1280px;
  padding: 1rem;
}

.FormContainer {
  background-color: rgba(255, 255, 255, 0.35);
}

.FormContainer h1 {
  font-weight: 700;
  font-size: 1.75em;
}

.FormContainer h3 {
  font-weight: 500;
}

.FormContainer p {
  text-align: center;
  color: var(--white)
}

.SignInFormContainer {
  width: 350px;
  padding: 30px 40px 10px; 
}

.SignUpFormContainer {
  padding: 30px 40px 10px; 
  max-width: 400px;
  margin: 0 auto; 
}


.formFieldsContainer {
  display: flex;
  flex-direction: column;
  align-items:start;
}

.formFieldPair {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Add some spacing between the Form.Group elements within a pair */
.formFieldPair .mb-3 {
  width: 100%;
}

.Logo {
  width: 70%;
  padding-bottom: 10px;
}

.forgotPasswordCta {
  font-style: italic;
  text-align: right;
  padding-bottom: 5px;
}

.FormLabel {
  color: var(--white);
}

.createAccountCta, .signInCta {
  margin-top: 12px;
}

/* Sign up form resizing */
.with-margin {
  margin-right: 10px;
}

.inputField {
  height: 30px;
  margin: 0 auto;
}

.formLabel {
  color: var(--white);
  margin: 2px auto;
}

body {
  font-size: 12px;
}