#root {
  /* ********************************** */
  /* BG IMAGE FILL THE ENTIRE VIEWPORT */
  /* ********************************** */
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.form-header {
    align-items: center;
    text-align: center;
    color: var(--white);
}

.auth-link {
  color: var(--white);
}

.auth-btn {
  width: 100%;
  font-size: 1.15em;
  font-weight: 700;
  border-color: var(--darkblue);
  background-color: var(--darkblue);
}

.auth-btn:hover {
  color: var(--darkblue);
  background-color: var(--white);
}


/* *********************** */
/* CLASSES */
/* *********************** */
.pg-container {
  max-width: 1280px;
  padding: 1rem;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.35);
}

.form-container h1 {
  font-size: 1.75em;
}

.form-container h3 {
  font-weight: 500;
}

.form-container p {
  text-align: center;
  color: var(--white)
}

.signin-container {
  width: 350px;
  padding: 30px 40px 10px; 
}

.signup-form-container {
  padding: 30px 40px 10px; 
  max-width: 400px;
  margin: 0 auto; 
}

.aim-logo {
  width: 70%;
  padding-bottom: 10px;
}

.forgot-password {
  font-style: italic;
  text-align: right;
  padding-bottom: 5px;
}

.form-label {
  color: var(--white);
}

.create-acc {
  margin-top: 12px;
}

/* Sign up form resizing */
.with-margin {
  margin-right: 10px;
}

.input-field {
  height: 30px;
  margin: 0 auto;
}

.form-label {
  color: var(--white);
  margin: 2px auto;
}

body {
  font-size: 12px;
}